---
# tasks file for ansible-role-k8s-devkit

- name: Install kops binary release.
  get_url:
    url: "{{ kops_release_url_base }}/{{ kops_version }}/{{ kops_release_filename }}"
    dest: "{{ kops_install_path }}"
    checksum: "{{ kops_release_checksum_type }}:{{ kops_release_checksum }}"
    mode: 0755

- name: Install kubectl binary release.
  get_url:
    url: "{{ kubectl_release_url_base }}/{{ kubectl_version }}/{{ kubectl_release_url_suffix }}"
    dest: "{{ kubectl_install_path }}"
    checksum: "{{ kubectl_release_checksum_type }}:{{ kubectl_release_checksum }}"
    mode: 0755
